:root{
    --header-bgColor :  #3e3e61;
    --backgroundColor : #1E1E2F;
    --secondaryBgColor: #262639;
    --primaryColor:#1c1c9f;
    --secondaryColor: cyan;
    --font-color : white;
    --toggle-theme-bg:#1c1c9f;
    --toggle-theme-text:white;
    --border-animation-color:var(--secondaryColor);
    --shadow-effect:   
    0 0 20px var(--secondaryColor),
    0 0 20px rgba(0, 255, 255, 0.8),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 40px rgba(0, 255, 255, 0.4),
    0 0 55px rgba(0, 255, 255, 0.2);
    transition: box-shadow 0.3s ease;
    
    
  }
  .light-theme{
    --header-bgColor :  #dfdfdf;
    --backgroundColor :  white;
    --secondaryBgColor: #e5e5e5;
    --primaryColor:#1c1c9f;
    --secondaryColor: cyan;
    --font-color : black;
    --toggle-theme-bg:white;
    --toggle-theme-text:#1c1c9f;
    --border-animation-color:rgba(0, 0, 255, 0.4);
    --shadow-effect:
    0 0 20px var(--secondaryColor),
    /* 0 0 20px rgba(0, 0, 255, 0.6), */
    0 0 40px rgba(0, 0, 255, 0.4),
    0 0 55px rgba(0, 0, 255, 0.2);
  transition: box-shadow 0.3s ease;
  
}



.gradient-text {
    background: linear-gradient(to right,#3131d3 , var(--primaryColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mainBtn {
    border-radius: 7px;
    background: transparent;
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 6px 22px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.3px;

    transition: 
        background 0.35s ease,
        color 0.25s ease,
        transform 0.2s ease,
        box-shadow 0.25s ease;
}

/* HOVER */
.mainBtn:hover {
  background-color: var(--primaryColor);
    /* background: linear-gradient(to right, #3131d3, var(--primaryColor)); */
    color: #fff;
    box-shadow: 0 8px 24px rgba(49, 49, 211, 0.3);
    transform: translateY(-3px);
}

/* ACTIVE */
.mainBtn:active {
    transform: translateY(0);
    background-color: white;
    color: var(--primaryColor);
    box-shadow: 0 4px 12px rgba(65, 65, 226, 0.3);
}
/* .mainBtn{
    border-radius: 7px;
    background:linear-gradient(to right , #3131d3 , var(--primaryColor));
    color: white;
    border: none;
    padding: 3px 20px;
    text-decoration: none;
    transition: all .2s ease-in-out;  
    background-size: 200% 100%;
}
.mainBtn:hover{
    transform: scale(1.03);
}

.mainBtn:hover {
  background-position: right center;
}

.mainBtn:active {
  transform: translateY(0);
  box-shadow: 0 4px 12px rgba(49, 49, 211, 0.25);
  filter: brightness(0.95);
} */
a.github , a.nav-link  , h1 , h2 , h4 , h5 , h6 , p , small {
    color: var(--font-color) !important;
    transition: color 0.4s ease;
}

body , section {
    transition: background-color 0.4s ease, color 0.4s ease;
   
}

body{
  overflow-x: hidden;

}
a.btn{
    background-color: var(--primaryColor);
    color: white;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}

 a.btn::after {
   content: "";
   bottom: 0;
   left: 0;
   height: 0;
   border-radius: 4px;
   width: 0;
   position: absolute;
   background-color: white;
   transition: all 0.3s ease-in-out;
   z-index: -1;
}
a.btn:hover:after {
    width: 100%;
    height: 100%;
} 

.links-icons i{
   color: gray;
}

*{
    font-family:"Roboto" , serif ;
}

/* scroll btn  */
.scroll-to-top , .toggle-theme{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: var(--toggle-theme-bg);
    color: var(--toggle-theme-text);
    border: none;
    padding: 20px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}

.scroll-to-top{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    z-index: 3;
}

.dark{
    opacity: 0;
    visibility: hidden;
}
.light{
    opacity: 1;
    visibility: visible;
}

.toggle-theme.hide{
    opacity: 0;
    visibility: hidden;
}
.toggle-theme.show{
    opacity: 1;
    visibility: visible;
}
/* theme btn  */

.toggle-theme{
    bottom: 80px;
    right: 20px;
    z-index: 6;
}

.scroll-to-top i , .toggle-theme i{
    font-size: 16px;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}


.line{
display: block;
width: 30px;
height: 3px;
background-color: var(--primaryColor);
margin: 15px auto 50px auto;
}

#about{
    height: fit-content;
    background-color: var(--backgroundColor);
}


/* sidebar */
.sidebar{
    height: 100%;
    /* background-color: #1c1c9f; */
    backdrop-filter: blur(60px);
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    transition: transform .5s ease-in-out;
    transform: translateX(100%);
}
.sidebar ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;   
    margin: 0;
    padding: 0; 
}
.sidebar ul li{
  list-style: none;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 10px 0;
}

.sidebar.hide{
    transform: translateX(100%);
}

.sidebar.show{
    transform: translateX(0);
}
/* header */
header{
    height: fit-content;
    backdrop-filter: blur(5px);
}

header li a::after{
    content: "";
     height: 2px ;
     width: 0;
     display: block;
     background-color: var(--primaryColor); 
     transition: .2s ease-in-out; 
}

header li a:hover:after{
  width: 100%;
}

header .menuBtn{
   display: none;
}
header .menuBtn button , .closebtn button{
   border-radius: 10px;
   border: none;
   background: none;
}
header .menuBtn button i , .closebtn button i{
  vertical-align: middle;
  color: var(--font-color);
}
header span{
    font-size: 30px;
    cursor: pointer;
}
/* home */
section.home{
    height: fit-content;
    position: relative;
    padding-top: 30px ;
}

section.home h1{
    font-size: 45px;
    text-align: left;
}
section.home h1.track{
    animation-name: track;
    animation: track 2s infinite ease-in-out ;
}

/* section.home .typing::after {
    content: "Full-Stack Web Developer";
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    color: var(--primaryColor);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--font-color);
    width: 0;
    animation: typingLoop 5s steps(24) infinite, blink 0.7s step-end infinite;
  }
  
  @keyframes typingLoop {
    0% { width: 0 }
    40% { width: 20ch }
    60% { width: 20ch }  
    100% { width: 0 }   
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
             */


section.home .home-img{
  position: relative;
  /* background-color: var(--backgroundColor); */
   /* box-shadow: var(--shadow-effect); */
  overflow-y: visible;
    /* width: 30%; */
    margin:0 auto 0 auto;
}
.home-img img {
  width: 98%;    
}

.blue-light{
  position: absolute;
  width: 40%;
  height: 40%;
  filter: blur(90px);   
  /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */

  z-index: -1;
  top: 10%;
  left: -10%;
  background-color: var(--primaryColor);
  border-radius: 50%;
}
.cyan-light{
  position: absolute;
  width: 60%;
  height: 60%;
  filter: blur(120px); 
  /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
  z-index: -1;
  right: -20%;
  bottom: 10%;
  background-color: var(--secondaryColor);
  border-radius: 50%;
}
.purple-light{
  position: absolute;
  width: 30%;
  height: 30%;
  filter: blur(90px); 
  /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
  z-index: -1;
  left: -80%;
  bottom: 30%;
  background-color: rgb(111, 62, 237);
  border-radius: 50%;
}
/* .star{
  position: absolute;
  width: 50px;
  height: 50px;
  filter:brightness(100px);
  clip-path: polygon(50% 0%, 55% 41%, 98% 35%, 55% 50%, 79% 91%, 50% 58%, 21% 91%, 46% 50%, 2% 35%, 46% 41%);
  z-index: 1;
  bottom: 30%;
  left: 0;
  transform: rotate(20deg);
  background-color: var(--font-color);
  border-radius: 50%;
} */



@media (max-width : 768px){
  
  section.home .home-img{
    width: 50%;
    margin-top: 20px;
   }


  }

  section.home .home-desc .links-icons i{
     border-radius: 50%;
     aspect-ratio: 1;
     /* background-color:gray; */
     padding: 7px;
     /* color: white; */
     transition: all .2s ease-in-out;
  }
  /* section.home .home-desc .links-icons i:hover{
     background-color:white;
     color: gray;
  } */
 
  @keyframes track{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

  }
/* about  */
  
section#about{
    background-color: var(--secondaryBgColor);
    height: fit-content;
}


section#about h2{
    text-align: center;
}
section#about p{
    font-size: 25px;
    max-width: 600px;
}

section#about img{
    max-width: 90%;
    border-radius: 50% 50% / 50% 50%;
    height: auto;
    box-shadow: var(--shadow-effect);
}

section#about .about-content .card{
   background: none;
   color: var(--font-color);
   box-shadow: var(--shadow-effect);
   margin-bottom: 20px;
}

/* experience */
section#experience {
    background-color: var(--backgroundColor);
    padding: 3rem 1rem;
    position: relative;
  }
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: var(--font-color);
  }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    /* color: white; */
    border-radius: 100%;
  }
  .timeline > li .timeline-image img{
    border-radius: 50%;
    box-shadow: var(--shadow-effect);
  }
  .timeline > li .timeline-image h3, .timeline > li .timeline-image .h3 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
    color: var(--primaryColor) !important;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h3, .timeline .timeline-heading .h3 {
    margin-top: 0;
    color: var(--primaryColor) !important;
    font-weight: bolder;
  }
  .timeline .timeline-heading h3.subheading, .timeline .timeline-heading .subheading.h3 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h3, .timeline > li .timeline-image .h3 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h3, .timeline > li .timeline-image .h3 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h3, .timeline > li .timeline-image .h3 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }

  
/* middle-line  */
/* section#experience .experience-content::after {
     content: "";
     position: absolute;
     width: 4px;
     height: 100%;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     background-color: var(--font-color);
     z-index: 0;
  }
  
  .experience-content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .timeline {
    position: relative;
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1;
  }

  @media screen and (max-width: 568px) {
    .timeline {
        width: 100%;
    }
    .timeline .timeline-card{
        font-size: .5em;
    }
    .timeline .timeline-card img{
        width: 20px;
        height: 20px;
    }
  }
  

  .timeline::before {
    content: "";
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 6px solid var(--mainColor , var(--primaryColor));
    border-radius: 50%;
    z-index: 1;
  }
  
  /* left side */
  /* .left-align {
    left: 0;
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    .timeline-card {
        width: 100%;
    }
    .left-align {
        left: -50%;
    }
  }  */
  
  /* .left-align::before {
    right: -15px;
  }
   */
  /* right side */
  /* .right-align {
    left: 50%;
    text-align: left;
  }
  
  .right-align::before {
    left: -15px;
  } */
  
  /* timeline card content */
  /* .timeline-card {
    background-color: var(--secondaryBgColor);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }
    
  .timeline-card img{
    width: 70px;
    height: 70px;
  } */
    

  
/* projects  */
section#projects{
    background-color: var(--secondaryBgColor);
}

section#projects .projects-content{
    padding: 20px;
}
section#projects .projects-content .card{
    background-color: var(--secondaryBgColor);
    color: white;
    position: relative;
    /* box-shadow: var(--shadow-effect); */
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
section#projects .projects-content .card::after , section#projects .projects-content .card::before{
   content: "";
   display: inline-block;
   position: absolute;
   width: calc(100% + 6px);
   height: calc(100% + 6px);
   background-image: conic-gradient(from var(--angle),transparent 80% , var(--border-animation-color));
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   z-index: -1;
   padding: 3px;
   border-radius: 10px;
   animation: 3s spinBorder linear infinite
}
section#projects .projects-content .card::before{
   filter: blur(1.5rem);
   opacity: 0.5;

}

@keyframes spinBorder{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}


section#projects .projects-content .card .github{
    color: white;
    background: none
}

/* skills */
section#skills{
  height: fit-content;
  background-color: var(--backgroundColor);
}
section#skills div .skill img{
  width: 120px;
  height: 120px;
}

/* certificates */
section#certificates{
    background-color: var(--secondaryBgColor);
}
/* contact */

#contact{
    height: fit-content;
    background-color: var(--secondaryBgColor);
}
#contact form i.message-icon{
    color: var(--font-color);
    font-size: 70px;
}

#contact .contact-form{
    width: 50%;
    padding: 50px;
}
#contact .contact-form .contact{
    box-shadow: var(--shadow-effect);
    border-radius: 10px;
    padding: 40px;
}
#contact .contact-form .contact form{
    padding: 30px;
}
#contact input , #contact textarea{
    color: var(--font-color);
    border: none;
    border-bottom: 2px solid var(--primaryColor);
    background: none;
}
#contact input::placeholder , #contact textarea::placeholder{
    color: gray;
    opacity: 1;
}
.form-control:focus{
    border-bottom: 2px solid var(--primaryColor) !important;
    outline: none !important; 
    box-shadow: none !important; 
}
#contact input:focus{
    border-bottom: 2px solid var(--primaryColor);
   outline: none;
   border: none;
}

/* footer */
footer{
 background-color: var(--secondaryBgColor);
 padding: 5px;
}
footer span {
    color: var(--font-color)
}
/* corner-effects */

.corner-effect {
    position: relative;
}
.corner-effect::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 50px; /* Corner size */
height: 50px;
border-top: 3px solid var(--font-color);
border-left: 3px solid var(--font-color);
}
.corner-effect::after{
content: "";
position: absolute;
bottom: 0;
right: 0;
width: 50px; /* Corner size */
height: 50px;
border-bottom: 3px solid var(--font-color);
border-right: 3px solid var(--font-color);
}
.corner-effect2 {
    position: relative;
}
.corner-effect2::before{
content: "";
position: absolute;
top: 0;
right: 0;
width: 50px; /* Corner size */
height: 50px;
border-top: 3px solid var(--font-color);
border-right: 3px solid var(--font-color);
}
.corner-effect2::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 50px; /* Corner size */
height: 50px;
border-bottom: 3px solid var(--font-color);
border-left: 3px solid var(--font-color);
}

/* lighting */
.home .light .blueLight , .home .light .cyanLight{
    width: 70px;
    height: 70px;
    position: absolute;
    filter: blur(40px);
    z-index: 1;
}
.home .light .blueLight{
    top: 0;
    left: 0;
    background-color:#2b2bf6;
    animation-name: blueLight;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}
.home .light .cyanLight{
   bottom: 0;
   right: 0;
   background-color: var(--secondaryColor);
   animation-name: cyanLight;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

@keyframes cyanLight {
    0%{
        right: 0;
    }
    50%{
        right: 80%;
    }
    100%{
        right: 0;
    }
}
@keyframes blueLight {
    0%{
        left: 0;
    }
    50%{
        left: 80%;
    }
    100%{
        left: 0;
    }
}

/* responsive design */

@media(max-width:992px){
    #about p{
   font-size: 16px;
}
header nav{
      display: none;
    }
  header .menuBtn{
      display: block;
    }
    section.home h1{
        font-size: 35px;
    }
    
    /* section.home img{
        width: 200px;
        height: 200px;
        margin: 30px 0;
    } */
    section#about p{
        font-size: 16px;
        max-width: 600px;
    }
    section#skills div .skill img{
        width: 80px;
        height: 80px;
    }
    
    #contact .contact-form{
        width: 100%;
        padding: 25px;
    }
}
@media(max-width:400px){
    section.home h1{
        font-size: 25px;
    }
    
    /* section.home img{
        width: 150px;
        height: 150px;
        margin: 30px 0;
    } */
    a.mainBtn{
        padding: 3px 15px;
    }
}
